.ProfileCard {
    padding: 20px;
    border: 1px solid var(--primary-color);
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
