.ProfileCard {
    padding: 20px;
    border: 1px solid var(--primary-color);
    width: 100%;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loading .error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.avatarWrapper {
    text-align: center;
}
