.BIG {
    .card {
        padding: 15px;
        border-radius: 10px;
        background-color: var(--card-color);
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
    }

    .userInfo {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .image {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin-bottom: 10px;
    }

    .typesOfArticle {
        margin-bottom: 7px;
    }

    .textBlock {
        max-height: 210px;
        overflow: hidden;
        mask-image: linear-gradient(180deg, #000 60%, transparent);
    }

    .footer {
        display: flex;
        justify-content: space-between;
    }

    .viewBox {
        display: flex;
        align-items: center;
        gap: 2px;
    }
}

.SMALL {
    width: 230px;
    cursor: pointer;
    transition: 0.2s;

    .imageContainer {
        width: 200px;
        height: 200px;
        margin-bottom: 5px;
        position: relative;
    }

    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .date {
        display: none;
        position: absolute;
        top: 0;
        right: 3%;
    }

    .viewBox {
        display: flex;
        align-items: center;
        gap: 2px;
    }

    .infoWrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .typesOfArticle {
        width: 130px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .title {
        width: 200px;
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &:hover {
        opacity: 0.8;
        transform: scale(1.03);

        .date {
            display: block;
        }
    }
}
