.app_dark_theme {
    --bg-color: #0e0e75;
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inverted-bg-color: #e8e8ea;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0252ff;

    // skeleton
    --skeleton-color: #1515ad;
    --skeleton-shadow: #3333c2;

    // Code
    --code-bg: #2f2fc4;
}
