.app_purple_theme {
    --bg-color: #6f0c82;
    --primary-color: #faf4fb;
    --secondary-color: #fbf2fc;
    --inverted-bg-color: #faf4fb;
    --inverted-primary-color: #1e095d;
    --inverted-secondary-color: #2e2154;
}
