.app_purple_theme {
    --bg-color: #6f0c82;
    --primary-color: #faf4fb;
    --secondary-color: #fbf2fc;
    --inverted-bg-color: #faf4fb;
    --inverted-primary-color: #1e095d;
    --inverted-secondary-color: #2e2154;

    // skeleton
    --skeleton-color: #fbf4fb;
    --skeleton-shadow: rgba(255 255 255 / 10%);

    // Code
    --code-bg: #a832c0;

    // articleCard
    --card-color: #2e2154;
}
