.navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;

    // justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.navbarRightSide {
    margin-left: auto;
}
