.ArticlePageFilters {
    margin-bottom: 20px;
}

.filtersSection {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 5px;
    margin-bottom: 10px;
}

.searchSection {
    margin-bottom: 10px;
}
